
<app-breadcrumb [path]="routes.Comments_CREATE"></app-breadcrumb>

<mat-card class="card">
  <mat-card-title>
    <h4 class="h4">New Comments</h4>
  </mat-card-title>

  <mat-card-content [formGroup]="form">

        <div class="input-wrapper">
          <p class="input-title">Content</p>
          <mat-form-field appearance="legacy" class="input-field">
            <textarea matInput formControlName="content" placeholder="Content"></textarea>
          </mat-form-field>
        </div>

<div class="input-wrapper">
  <p class="input-title">Post</p>
  <div class="input-field">
    <ng-select [items]="posts"
               formControlName="post"
               [multiple]="false"
               (search)="getPosts($event.term)"
               (close)="getPosts('')"
               appendTo="body"
               bindLabel="label"
               bindValue="id"
               placeholder="Please select...">
    </ng-select>
  </div>
  </div>

<div class="input-wrapper">
  <p class="input-title">Author</p>
  <div class="input-field">
    <ng-select [items]="users"
               formControlName="author"
               [multiple]="false"
               (search)="getUsers($event.term)"
               (close)="getUsers('')"
               appendTo="body"
               bindLabel="label"
               bindValue="id"
               placeholder="Please select...">
    </ng-select>
  </div>
  </div>

    <button (click)="onCreate()" mat-flat-button color="success">Create</button>
    <button (click)="onCancel()" mat-flat-button color="default">Cancel</button>
  </mat-card-content>
  </mat-card>

