<mat-list class="sidebar">
  <mat-list-item routerLink="{{ routes.DASHBOARD }}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>

  <mat-list-item routerLink="admin/users" routerLinkActive="active">
    <mat-icon>description</mat-icon> Users
  </mat-list-item>

  <mat-list-item routerLink="admin/posts" routerLinkActive="active">
    <mat-icon>description</mat-icon> Posts
  </mat-list-item>

  <mat-list-item routerLink="admin/reaction" routerLinkActive="active">
    <mat-icon>description</mat-icon> Reaction
  </mat-list-item>

  <mat-list-item routerLink="admin/comments" routerLinkActive="active">
    <mat-icon>description</mat-icon> Comments
  </mat-list-item>

  <mat-list-item routerLink="admin/messages" routerLinkActive="active">
    <mat-icon>description</mat-icon> Messages
  </mat-list-item>

  <mat-list-item routerLink="admin/groups" routerLinkActive="active">
    <mat-icon>description</mat-icon> Groups
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.PROFILE }}" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon> Profile
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.CHANGE_PASSWORD }}">
    <mat-icon>person</mat-icon> Change Password
  </mat-list-item>

  <mat-list-item (click)="redirectToSwagger()" routerLinkActive="active">
    <mat-icon>description</mat-icon> API docs
  </mat-list-item>
</mat-list>
